html {
  /* footer support */
  min-height: 100%;
  position: relative;  
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Saira';
  justify-content: center;
  align-items: center;
  background: #FFB8B8;
  background: -moz-linear-gradient(-45deg, #FFB8B8 0%, #C5FFC5 50%, #ACA9FF 100%);
  background: -webkit-linear-gradient(-45deg, #FFB8B8 0%, #C5FFC5 50%, #ACA9FF 100%);
  /* footer support */
  margin-bottom: 100px;
}

button {
  font-family: inherit;
  font-size: 25px;
  width: 60px;
  height: 60px;
  margin: 0;
  background-color: #f4f4f4e3;
  border-radius: 5px;
  border: none;
  color: black;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
  -webkit-box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5); 
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.5);
}

button:active {
  transform: translate(1px, 1px)
}

.result {
  font-family: inherit;
  width: 231px;
  height: 60px;
  font-size: 23px;
  margin-bottom: 13px;
  padding: 0px 10px;
  text-align: right;
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #000;
  -webkit-box-shadow: inset 1px 1px 1px 3px rgba(0,0,0,0.57); 
  box-shadow: inset 1px 1px 1px 3px rgba(0,0,0,0.57);
}

.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  border-radius: 9px;
  margin: 100px;
  width: 300px;
  height: 400px;
  padding: 22px 0px;
  gap: 5px;
  border: none;
  background: rgb(157, 157, 157);
  -webkit-box-shadow: 2px 3px 1px 5px rgba(113, 113, 113, 0.844); 
  box-shadow: 2px 3px 1px 5px rgba(113, 113, 113, 0.881);
}

#power {
  font-size: 17px;
  background-color: #2900de67;
}

#AC {
  background-color: #df000071;
}

#DEL, #AC {
  font-size: 19px;
}

#DEL {
  background-color: #8cd1c9cf;
}

#minus {
  font-size: 22px;
  background-color: #8cd1c9cf;
}

#equals {
  font-size: 25px;
  background-color: #8cd1c9cf;
}

.non-number {
  background-color: #8cd1c9cf;
  font-size: 25px;
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: inherit;
  gap: 10px;
  width: 100%;
  padding: 5px;
  font-size: 18px;
}

.fa-github {
  color: black;
  font-size: 24px;
  transition: transform 0.3s ease-in-out;
}

.fa-github:hover {
  transform: rotate(360deg) scale(1.2);
}
